flows/power-automate/flow-05-evaluation-report.json
{
  "_comment": "Evaluation Report — Generate Document — Receives evaluation data from the Copilot Studio Evaluator Agent, populates the evaluation report template, and posts the report to Teams for approval.",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "PowerAppV2",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "rfpReference": {
                "type": "string"
              },
              "recommendation": {
                "type": "string"
              },
              "additionalComments": {
                "type": "string"
              },
              "evaluationData": {
                "type": "object",
                "description": "Full evaluation JSON with partner scores, compliance matrix, and commercial comparison",
                "properties": {
                  "partners": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "companyName": {
                          "type": "string"
                        },
                        "complianceStatus": {
                          "type": "string",
                          "enum": [
                            "Pass",
                            "Fail"
                          ]
                        },
                        "technicalScore": {
                          "type": "number"
                        },
                        "commercialScore": {
                          "type": "number"
                        },
                        "riskScore": {
                          "type": "number"
                        },
                        "overallScore": {
                          "type": "number"
                        },
                        "strengths": {
                          "type": "string"
                        },
                        "weaknesses": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "recommendedPartner": {
                    "type": "string"
                  },
                  "evaluationSummary": {
                    "type": "string"
                  }
                }
              }
            },
            "required": [
              "rfpReference",
              "evaluationData"
            ]
          }
        }
      }
    },
    "actions": {
      "Set_Report_Reference": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reportReference",
              "type": "string",
              "value": "EVAL-@{triggerBody()['rfpReference']}-@{formatDateTime(utcNow(), 'yyyyMMdd')}"
            }
          ]
        },
        "runAfter": {}
      },
      "Populate_Report_Template": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_wordonlinebusiness",
            "operationId": "PopulateAWordTemplate",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_wordonlinebusiness"
          },
          "parameters": {
            "source": "CONFIGURE_SHAREPOINT_SITE_URL",
            "documentLibrary": "CONFIGURE_DOCUMENT_LIBRARY_ID",
            "file": "/RFP Templates/evaluation-report-template.docx",
            "rfpReference": "@{triggerBody()['rfpReference']}",
            "reportReference": "@{variables('reportReference')}",
            "recommendation": "@{triggerBody()['recommendation']}",
            "evaluationSummary": "@{triggerBody()['evaluationData']?['evaluationSummary']}",
            "additionalComments": "@{triggerBody()['additionalComments']}"
          }
        },
        "runAfter": {
          "Set_Report_Reference": [
            "Succeeded"
          ]
        }
      },
      "Save_Report_To_SharePoint": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_sharepointonline",
            "operationId": "CreateFile",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
          },
          "parameters": {
            "dataset": "CONFIGURE_SHAREPOINT_SITE_URL",
            "folderPath": "/Evaluation Reports/@{triggerBody()['rfpReference']}",
            "name": "@{variables('reportReference')}.docx",
            "body": "@body('Populate_Report_Template')?['Microsoft.PowerApps.CDS.FileBody']"
          }
        },
        "runAfter": {
          "Populate_Report_Template": [
            "Succeeded"
          ]
        }
      },
      "Update_RFP_Status": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_sharepointonline",
            "operationId": "PatchItem",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
          },
          "parameters": {
            "dataset": "CONFIGURE_SHAREPOINT_SITE_URL",
            "table": "RFP Tracking",
            "id": "CONFIGURE_LOOKUP_BY_RFP_REFERENCE",
            "item": {
              "Status": "Evaluating"
            }
          }
        },
        "runAfter": {
          "Save_Report_To_SharePoint": [
            "Succeeded"
          ]
        }
      },
      "Post_Approval_Card_To_Teams": {
        "type": "OpenApiConnection",
        "inputs": {
          "host": {
            "connectionName": "shared_teams",
            "operationId": "PostCardToConversation",
            "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
          },
          "parameters": {
            "poster": "Flow bot",
            "location": "Channel",
            "body/recipient": "CONFIGURE_TEAMS_CHANNEL_ID",
            "body/messageBody": "📊 **Evaluation Report Ready for Approval**\n\n**RFP:** @{triggerBody()['rfpReference']}\n**Report:** @{variables('reportReference')}\n**Recommendation:** @{triggerBody()['recommendation']}\n\n**Summary:** @{triggerBody()['evaluationData']?['evaluationSummary']}\n\n[📄 Open Full Report](@{body('Save_Report_To_SharePoint')?['Path']})"
          }
        },
        "runAfter": {
          "Update_RFP_Status": [
            "Succeeded"
          ]
        }
      },
      "Respond_to_Copilot_Studio": {
        "type": "Response",
        "kind": "PowerApp",
        "inputs": {
          "statusCode": 200,
          "body": {
            "reportUrl": "@{body('Save_Report_To_SharePoint')?['Path']}",
            "reportReference": "@{variables('reportReference')}"
          },
          "schema": {
            "type": "object",
            "properties": {
              "reportUrl": {
                "type": "string"
              },
              "reportReference": {
                "type": "string"
              }
            }
          }
        },
        "runAfter": {
          "Post_Approval_Card_To_Teams": [
            "Succeeded"
          ]
        }
      }
    }
  }
}